<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/master.css' />
</head>
<body>
  <div class="vim-wrap">
    <% include common/header.ejs %>
    <section class="vim-body">
      <div class="vim-container">
        <div class="vim-info">
          作者：<a href="/u/<%= article.name %>"><%= article.name %></a> | 日期：<%= article.time.minute %>
          <% if (user && (user.name == article.name)) {%>
          <span><a class="edit" href="/edit/<%= article.name %>/<%= article.time.day %>/<%= article.title %>">编辑</a></span>
          <span><a class="edit" href="/remove/<%= article.name %>/<%= article.time.day %>/<%= article.title %>">删除</a></span>
          <% } %>
          <div class="vim-info-detail"><%- article.content %></div>
        </div>
        <%- include common/comment.ejs %>
      </div>
    </section>

    <% include common/footer.ejs %>
  </div>
</body>
</html>
